/**
 * BLGF by Grapikom
 * Version 1.0.0
 * grapikom.com
 * Author: Randy Pallones, John Mark Perocho, Zim Arcilla;
 */

/*TOP BAR MENU*/

button {
    outline: 0;
}

.top-bar {
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

}

.top-bar-title {
    padding: 10px 0px;
}

.top-bar, .top-bar ul {
    background: #26517d;
}

#logo {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 28px;
}

#logo img {
    position: absolute;
    width: 62px;
}

#logo span {
    line-height: 60px;
    margin-left: 70px;
}

.top-bar .menu a {
    color:white;
    font-family: "Lato", sans-serif;
    line-height: 58px;
    -webkit-transition: background .5s; /* Safari */
    transition: background .5s;
    font-weight: 400;
    font-size: 14px;
}

.top-bar .menu a:hover{
    background: #2d5984;
}

.top-bar .social-media-link i {
    margin:0;
}

.top-bar-right.social-media-link li {
    border-left: 1px solid #2d5984;
}

.top-bar-right.social-media-link li:last-child {
    border-right: 1px solid #2d5984;
}

/*Shrinked*/

.top-shrink #logo img {
    width:46px;
}

.top-shrink #logo span {
    line-height: 45px;
}

.top-shrink .menu a {
    line-height: 43px;
}

.top-shrink #logo img,
.top-shrink #logo span,
.top-shrink .menu a {
    -webkit-transition: all .3s;
    transition: all .3s;
}

/*General Styles*/

a, p, li {
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#section-indicators {
    position: relative;
    z-index: 3;
    background: #f0f0f0;
    padding: 60px 0;
}

.section-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #336699;
    font-size: 30px;
    margin-bottom: 0;
}

.title-div {
    text-align: center;
    color: #f59d15;
    margin-bottom: 40px;
}

.title-div i {
    margin: 0 4px;
    font-size: 10px;
}

.lgu-name-section {
    background: #26517d;
    padding: 40px 0;
    text-align: center;
}

.lgu-name-section h1 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.lgu-name-section hr {
    width: 30px;
    border: 1px solid orange;
}

.lgu-name-section p {
    color: white;
}


/*Main Banner*/

.main-wrapper {
    height: 100vh;
    background: url("../images/banner-bg.jpg");
    background-size: cover;
}

#main-banner {
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 50%;
    -webkit-transform: translate(0%,-40%);
    -moz-transform: translate(0%,-40%);
    -ms-transform: translate(0%,-40%);
    -o-transform: translate(0%,-40%);
    transform: translate(0%,-40%);
}

.text-column {
    display: table;
}

.banner-text {
    display: table-cell;
    vertical-align: middle;
}

.banner-text h2 {
    font-family: "Lato", sans-serif;
    line-height: 44px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-text p {
    color: white;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    margin-bottom: 0;
}

.button-icon {
    background: white;
    width: 250px;
    height: 250px;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    display: block;
}

.button-link {
    display: block;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.button-link:hover {
    -webkit-transform:scale(1.1);
    transform: scale(1.1);
}

.button-icon p {
    position: absolute;
    width: 100%;
    bottom: 16px;
    font-family: "Lato", sans-serif;
    line-height: 20px;
    font-weight: 600;
    color: #336699;
}



.banner-search-wrapper {
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: 999!important;
}

.search-container {
    position: relative;
    padding: 0;
}

.search-results {
    position: absolute;
    width: 100%;
    background: white;
    top: 75px;
    list-style-type: none;
    margin: 0;
    display: block;
    padding: 0px;
    z-index: 10;
    height: 0px;
    overflow: scroll;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition-delay: .3s; /* Safari */
    transition-delay: .3s;
}

.show-results {
    /*max-height: 182px;*/
    height: 182px;
}

.input--browse .input__field:focus + .search-results {
    display: none;
}

.search-results li {
    border-bottom: 1px solid #d8d8d8;
}

.search-results li a {
    padding: 10px 10px;
    font-family: "Lato", sans-serif;
    display: block;
    color: #26517d;
}

.search-results li a:hover {
    background: #26517d;
    color:white;
}


/*SEARCH FORM STYLE*/

.search-button {
    position: absolute;
    bottom: 24px;
    right: 10px;
    color: white;
    font-size: 20px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #fff;
    font-weight: bold;
    font-family: "Lato", Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #fff;
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
    font-size: 80.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* browse */
.input--browse {
    overflow: hidden;
}

.input__field--browse {
    margin-top: 1em;
    padding:24px 10px 20px 10px;
    width: 100%;
    background: transparent;
    color: #fff;
}

.browse-lgu .input__field--browse, 
.browse-lgu .input__label, 
.browse-lgu .search-button{
    color: #26517d!important;
}

.search-section .input__field--browse, 
.search-section .input__label, 
.search-section .search-button{
    color: #26517d!important;
    box-shadow: none!important;
}

.home-search .input__field--browse {
    color: #26517d!important;
    box-shadow: none!important;
}

.search-section .input__field:focus, .home-search .input__field:focus {
    background: transparent;
    border: 0;
    box-shadow: none!important;
}

.home-search .input__field--browse {
    color: white!important;
    margin-top: 1em;
    padding:30px 10px 20px 10px;
    width: 100%;
    background: transparent;
    color: #fff;
}

.input__label--browse {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input__label-content--browse {
    position: absolute;
}

.input__label--browse::before,
.input__label--browse::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 2px solid #fff;
}

.search-section .input__label--browse::before {
    border-color: #26517d;
}

.input__label--browse::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--browse-color-1::after {
    border-color: hsl(30, 100%, 50%);
}

.input__label--browse-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--browse-color-3::after {
    border-color: hsl(20, 100%, 50%);
}

.input__field--browse:focus + .input__label--browse::after,
.input--filled .input__label--browse::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--browse:focus + .input__label--browse .input__label-content--browse,
.input--filled .input__label-content--browse {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

/*Indicator Menu*/

.indicators-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.indicator {
    text-align: center;
    display: block;
    padding: 20px 0;
}

.indicator p {
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #26517d;
}

.indicator-icon {
    width: 50px;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    background: #26517d;
    border-radius: 50%;
    color: white;
    margin-bottom: 6px;
}

/*BROWSE MUNICAPALITY*/

/*SEARCH MAP*/
.map-wrapper {
    height: 100vh;
    position: relative;
}

.map-wrapper.map-single {
    height: 80vh;
}

#map, .angular-google-map-container, .angular-google-map { 
  height: 100%; 
  width: 100%; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.search-section {
    position: absolute;
    top: 0px;
    width: 500px;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 80px 40px 0 40px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.search-section h1 {
    font-size: 24px;
    padding: 20px 0px 0px 0px;
    color: #26517d;
    margin-bottom: 0;
}

.browse-lgu .input--browse, .search-section .input--browse {
    /*margin-top: 20px;*/
}

ul.municipalities {
    list-style-type: none;
    margin: 0;
    background: white;
    max-height: 118px;
    overflow-y: scroll;
    margin-bottom: 20px;
    height: auto;
}

.municipalities li {
    border-bottom: 1px solid #d8d8d8;
}

.municipalities li a {
    padding: 10px 20px;
    font-family: "Lato", sans-serif;
    display: block;
    color: #26517d;
    font-size: 12px;
}

.lgu-selected {
    background: orange;
}

.municipalities li a:hover {
    background: #26517d;
    color:white;
}

.quick-facts {
    padding: 20px;
    background: #26517d;
    color: white;
}

.quick-facts h2 {
    font-size: 24px;
    font-family: "Lato",sans-serif;
}

.quick-facts p {
    font-size: 14px;
    font-family: "Lato",sans-serif;
    text-align: left;
}

.quick-facts ul li {
    text-align: left;
}

.print-export-share a {
    background: #f59d15;
    display: block;
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    text-align: center;
    border-right: 1px solid #c57c0a;
}

.print-export-share a:hover {
    background: #c57c0a;
}

.print-export-share a.last-share {
    border:0;
}

.print-export-share .columns {
    padding: 0;
}

.show-hide-search {
    position: absolute;
    right: -37px;
    top: 100px;
}

#show-hide-2 {
    background: #f59d15;
    padding: 10px 14px;
    border-radius: 0;
    color: white;
    font-size: 26px;
    outline: none;
}

#show-hide-3 {
    background: #f59d15;
    padding: 10px 14px;
    border-radius: 0;
    color: white;
    font-size: 26px;
    outline: none;
}

.search-close {
    transform: translate(-500px, 0);
}

.search-section .fa-angle-right {
    display: none;
}

.search-close button .fa-angle-right {
    display: block;
}

.search-close button .fa-angle-left {
    display: none;
}

    /*hide copyright from google*/
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }

/*Indicator Categories*/

.main-section {
    padding: 80px 0;
    position: relative;
    z-index: 3;
    background: white;
}

.indicators-wrap {
    margin-bottom: 40px;
}

.indicator-category {
    background: #f1f1f1;
    text-align: center;
    padding: 30px 0 0 0;
    border-top: 3px solid #26517d;
}

.indicator-category h3 {
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 70px;
    margin-bottom: 0;
}

.indicator-category p {
    color: #636363;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
}

.indicator-category .icon {
    width: 100px;
    display: block;
    height: 100px;
    /*border: 1px solid #f59d15;*/
    margin: 0 auto;
    border-radius: 50%;
    background: white;
}


.indicator-category .icon i{
    font-size: 30px;
    color: #f59d15;
    line-height: 100px;
}

.readmore {
    background: #26517d;
    margin-top: 2px;
    overflow: hidden;
}

.readmore a {
    padding: 10px 0;
    color: white;
    font-family: "Lato", sans-serif;
    display: block;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    /*transform: translate(0, -40%);*/
}

.readmore a:hover {
    background: #f59d15;
}

.readmore a span {
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.readmore a:hover span {
    transform: translate(0, -120%);
}

.readmore a i {
    transform: translate(0, 200%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.readmore a:hover i {
    transform: translate(0,0);
}

.indicators-wrap-2 .readmore {
    margin-top: 20px;
}

footer {
    background: #336699;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 0;
    color: white;
}

/* ====== LGU Page Styles ====== */

#lgu-banner {
    background: url("/images/naga-bg.jpg");
    background-size: cover;
}

#lgu-banner .lgu-banner-wrapper {
    background: rgba(0, 0, 0, 0.55);
    padding: 180px 0 100px 0;
}

.lgu-info {
    text-align: center;
}

.lgu-info .icon-top li {
    display: inline-block;
}

.lgu-logo {
    margin-bottom: 20px;
}

.lgu-name {
    color: white;
    font-weight: 400;
}

.lgu-name span {
    font-weight: 700;
}

.lgu-links a {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.lgu-links .fa {
    font-size: 28px;
    margin-bottom: 6px;
}


.lgu-performance {
    color: white;
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin: 40px 0 0 0;
}

.perf-year{
    margin-bottom: 4px;
    padding-left: 76px;
}

.perf-rate {
    margin-bottom: 4px;
    padding-left: 76px;
    font-weight: 700;
    line-height: 30px;
    font-size: 22px;
}

.perf-icon {
    position: absolute;
    left: 0;
    top: 0px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.perf-div hr {
    margin: 0 auto;
}

.perf-icon h4 {
    line-height: 60px;
    font-weight: 700;
}

.perf-good .perf-icon {
    background: #9cbc57;
}

.perf-vgood .perf-icon {
    background: #15a186;
}

.perf-poor .perf-icon {
    background: #c1392b;
}

.perf-good hr {
    border-color: #9cbc57;
}

.perf-vgood hr {
    border-color: #15a186;
}

.perf-poor hr {
    border-color: #c1392b;
}

/*Choose Indicator*/

/*SEARCH FIELD*/

#search-fields {
    background: #2d5984;
}
.show-fields {
    text-align: center;
    height: 15px;
}

.show-fields button {
    color: white;
    font-size: 28px;
    background: #2d5984;
    position: relative;
    top: -23px;
    width: 60px;
    display: block;
    margin: 0 auto;
    height: 60px;
    line-height: 52px;
    border-radius: 50%;
    z-index: 1;
    outline: 0;
}

.show-fields .fa-angle-double-up {
    display: none;
}

.show-fields.close .fa-angle-double-down {
    display: none;
}

.show-fields.close .fa-angle-double-up {
    display: block;
    line-height: 40px;
    position: relative;
    margin-top: -18px;
}


.fields {
    height: 80px;
    padding: 10px;
    background: #2d5984; 
    overflow: hidden;
    z-index: 2;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


.fields-hidden {
    height: 0;
    padding: 0;
}

.lgu-indicator-category .columns {
    position: relative;
}

.lgu-indicator-category .select-wrapper {
    background: white;
}

.lgu-indicator-category select {
    background: transparent url()!important;
    position: relative;
    z-index: 2;
    outline: 0;
}

.lgu-indicator-category .fa {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 22px;
    color: #2d5984;
    z-index: 1;
}

/*FORM STYLES*/

.fields input[type="text"], .fields select {
    margin-bottom: 0;
    height: 50px;
    background: white;
    border-left: 4px solid orange!important;
    border: 0;
    color: #336699;
    font-family: "Montserrat",sans-serif;
    border-radius: 0px!important;
}

.fields input[type="submit"] {
    display: block;
    width: 100%;
    background: #f59d15;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    height: 50px;
    border-radius: 0px;
}

.fields input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #336699;
  font-family: "Montserrat", sans-serif;
}
.fields input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #336699;
  font-family: "Montserrat", sans-serif;
}
.fields input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #336699;
  font-family: "Montserrat", sans-serif;
}
.fields input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #336699;
  font-family: "Montserrat", sans-serif;
}

/* LGU PAGE - Indicators */

.indicator-wrapper {
    border-top: 3px solid #336699;
    background: white;
}

.indicator-header {
    padding: 15px 15px;
    box-shadow: 0 1px 0px #dadada;
}

.indicator-name {
    color: #336699;
    margin: 0;
    line-height: 40px;
}

.indicator-name.long-text {
    font-size: 20px;
}

.indicator-name img {
    width: 40px;
    margin-top: -7px;
}

.indicator-actions {
    text-align: right;
}

.indicator-actions a {
    width: 40px;
    height: 40px;
    background: #336699;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    color: white;
}

.indicator-content {
    padding: 40px;
}

.indicator-value h1 {
    font-size: 80px;
    color: #f59d15;
}

.indicator-value h1 span {
    display: none;
}

.indicator-value.score-text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.indicator-value.score-text.compliance h1{
    font-size: 32px;
}

.indicator-value.score-million h1 {
    font-size: 50px;
}

.indicator-value.score-percent h1 {
    line-height:40px;
    font-size: 80px;
    margin-bottom: 40px;
}

.indicator-value.tens h1 {
    line-height:40px;
    font-size: 80px;
    margin-bottom: 40px;
}

.indicator-value.score-percent h1 span {
    display: inline;
}

.indicator-value.score-percent p {
    margin-bottom: 0;
}

.indicator-value p {
    /*margin-bottom: 0;*/
}

.indicator-value p a {
    color: #b8b7b7;
    font-family: "Montserrat", sans-serif;
    margin: 0 16px;
}

.indicator-value p a img {
    position: relative;
    margin-top: -4px;
    margin-right: 2px;
}

.indicator-value, .indicator-trend {
    text-align: center;
}

.indicator-trend {
    position: relative;
}

.vertical-line {
    border-right: 1px solid;
    height: 160%;
    position: absolute;
    width: 1px;
    left: 50%;
    z-index: 1;
    top: -30px;
}

.trend-icon {
    height: 100px;
    width: 100px;
    margin: 30px auto;
    background: white;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    line-height: 100px;
    z-index: 2;
    position: relative;
}

.trend-icon p {
    position: absolute;
    width: 100%;
    bottom: -2px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.trend-icon .fa {
    font-size: 50px;
}

.trend-up .fa, .trend-up p {
    color: #05bd0a;
}

.trend-up .trend-icon, .trend-up .vertical-line {
    border-color: #05bd0a;
}

.trend-down .fa, .trend-down p {
    color: red;
}

.trend-down .trend-icon, .trend-down .vertical-line {
    border-color: red;
}

.trend-equal .fa, .trend-equal p {
    color: #03a9f4;
}

.trend-equal .trend-icon, .trend-equal .vertical-line {
    border-color: #03a9f4;
}


.indicator-wrap {
    position: relative;
}

.indicator-column-side {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    position: relative;
    z-index: 5;
    top: 50%;
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    box-sizing:border-box;
}

.indicator-chart {
    box-sizing:border-box;
    position: relative;
}

.indicator-compare-container {
    overflow: hidden;
    padding: 0;
    height: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #384d5e;
}

.indicator-compare-container.show-compare {
    height: 200px;
}

.compare-content {
    opacity: 0;
    padding: 40px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.compare-content.show-compare {
    opacity: 1;
}

.indicator-buttons .columns {
    padding-left: 0;
    padding-right: 0;
}

.indicator-buttons {
    padding: 0 15px;
}

.indicator-buttons button {
    margin-bottom: 0;
    font-family: "Montserrat",sans-serif;
    padding: 16px 0;
    font-size: 18px;
}

.lgu-filter input[type="radio"] {
    display: none;
}

.lgu-filter label {
    display: block;
    margin: 0;
    padding: 0 20px;
}

.lgu-filter .lgu-input {
    margin-bottom: 0;
}

.lgu-filter label p {
    margin-bottom: 0;
    line-height: 34px;
}

.filterAll, .filterCity, .filterMunicipality, .filterProvince {
    background: #f59d15;
}

#compare {
    background: #336699;
    border-radius: 0;
}

#compare:hover, #compare.close-compare {
    background: #265380;
}

#simulate {
    background: #f59d15;
    border-radius: 0;
}

#simulate:hover {
    background: #e08800;
}

.compare-bench ul, .compare-lgus ul {
    list-style-type: none;
    margin: 0;
}

.compare-lgus {
    background: #40586b;
    position: relative;
}

.compare-lgus ul {
    height: 140px;
    overflow-y: scroll;
    padding: 0;
}

.compare-lgus input {
    background: transparent;
    border: 0;
    width: 100%;
    font-size: 18px;
color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 2px solid white;
    padding: 0;
}

.compare-lgus input:focus {
    outline: none;
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: 0;
}

.compare-bench {
    padding-left: 15px;
    padding-right: 0;
}

.compare-bench h4 {
    padding: 14px 20px;
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}

.compare-search {
    padding: 8px 0px;
    position: relative;

}

.compare-search button {
    position: absolute;
    right: 8px;
    color: white;
    top: 18px;
    font-size: 18px;
}

.compare-bench ul li {
    color: white;
    line-height: 42px;
    font-size: 20px;
    padding: 0 20px;
}

.compare-lgus li {
    color: white;
    line-height: 34px;
    padding: 0 20px;
}

.selected-1 {
    background: #148cd2;
}

.selected-2 {
    background: #ea4c4c;
}

.b-selected {
    background: #5cad03;
}

.compare-search input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.compare-search input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.compare-search input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.compare-search input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.compare-chart-container {
    position: relative;
    box-sizing: border-box;
    padding:10px 20px 10px 0px;
}

/*Page Styles*/

.page-title {
    padding: 110px 0px 30px 0px;
    background: #e0e0e0;
}

.page-title h1 {
    font-size: 30px;
    color: #26517d;
    margin-bottom: 0;
}

.page-content {
    padding: 40px 0;
    min-height: 75vh;
}

.objective-icon {
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    background: #f5f5f5;
    margin: 0 auto 20px auto;
}

.objective-text {
    text-align: center;
    color: gray;
}

/*Contact Form*/

.contact-form input, .contact-form textarea {
    width: 100%;
    padding:12px;
    border: 0;
    background: #efefef;
    border-radius: 0;
    outline: 0;
    margin-bottom: 20px;
    border-left: 2px solid #26517d;
    font-family: "Lato", sans-serif;
    box-shadow: none;
}

.contact-form input:focus, .contact-form textarea:focus {
    border:0;
    border-left: 2px solid orange;
    box-shadow: none;
    background: #efefef;
}

.contact-form h1, .contact-info h1 {
    font-size: 26px;
    color: #26517d;
    margin-bottom: 30px;
    border-bottom: 1px solid orange;
    padding-bottom: 10px;
}

.contact-form input[type="submit"] {
    background: orange;
    font-family: "Montserrat", sans-serif;
    border: 0;
    color: white;
    padding: 16px;
    text-transform: uppercase;
    font-size: 20px;
}

.contact-form input[type="submit"]:hover {
    background: #26517d;
}

.contact-info ul {
    margin:0;
    list-style: none;
}

.contact-info i {
    padding: 12px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 60px;
    margin-right: 12px;
    color: #26517d;
}

/*Advance Search*/

.advanced-search {
    background: white;
    padding: 20px;
    height: 51vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.advanced-search h2 {
    font-size: 18px;
    color: #26517d;
    border-bottom: 1px solid;
    padding: 0px 0px 12px 0px;
    margin-bottom: 30px;
}

.advanced-search h3 {
    font-size: 16px;
    color: #26517d;
    position: absolute;
    top: -13px;
    background: white;
    padding: 3px 10px;
    left: 10px;
    border: 1px solid #ddd;
}

.detailed-search button {
    background: orange;
    display: block;
    width: 100%;
    padding: 16px 0;
    font-family: "Montserrat";
    color: white;
}

.lgu-type {
    margin-bottom: 30px;
}

.lgu-type, .income-class {
    border: 1px solid #ddd;
    padding: 30px 20px 10px 20px;
    position: relative;
}

.lgu-type label, .income-class label {
    cursor: pointer;
}

.lgu-type input[type=radio], .income-class input[type=radio] {
    display: none;
}

.lguBox {
    position: absolute;
    margin-left: 0!important;
    width: 24px;
    height: 24px;
}

.incomeclassBox {
    position: absolute;
    margin-left: 0!important;
    width: 24px;
    height: 24px;
}

.lgu-type label, .income-class label {
    margin:0;
}

.lgu-type label p, .income-class label p {
    font-size: 18px;
    margin-left: 32px;
    line-height: 24px;
    margin-bottom: 0;
}

.lguBox::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #ddd;
    border-radius: 25px;
}

.lguBox::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 14px;
    border: 2px solid white;
    transform: translate(-50%,-50%);
}

.incomeclassBox::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #ddd;
    border-radius: 25px;
}

.incomeclassBox::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 14px;
    border: 2px solid white;
    transform: translate(-50%,-50%);
}

.lguBox.lguAll::after{
    background: green;
}

.lguBox.lguCity::after{
    background: #e74c3c;
}

.lguBox.lguProvince::after{
    background: #e7b23c;
}

.lguBox.lguMunicipality::after{
    background: #539bf1;
}

.incomeclassBox.iClass::after {
    background: #f59d15;
}

.lgu-input, .income {
    margin-bottom: 10px;
}


/*SEARCH INDICATOR*/

.search-indicator-map {
    height: 80vh;
}

.select-indicator-category {
    margin-top: 20px;
}

.select-indicator-category .select-wrapper, .select-indicator-name .select-wrapper {
    background: white;
    position: relative;
    margin-bottom: 10px;
}

.select-indicator-category .select-wrapper select, .select-indicator-name .select-wrapper select {
    border: 0;
    position: relative;
    border-bottom: 3px solid orange;
    height: 50px;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    color: #26517d;
    background: transparent url();
    margin-bottom: 0;
    z-index: 2;
}

.select-indicator-category .select-wrapper .fa, .select-indicator-name .select-wrapper .fa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 24px;
    color: #26517d;
    z-index: 1;
}

.choose-lgu-container {
    background: white;
    padding: 10px;
}

.choose-lgu-container {
    background: white;
    padding: 20px;
}

.choose-lgu-container ul li label {
    display: block;
    line-height: 40px;
}

.choose-lgu-container p {
    margin-bottom: 0;
}

.choose-lgu-container div {
    margin-top: -5px;
}

.choose-lgu-container .municipalities {
    height: 22vh;
}

.lgu-list-box {
    position: relative;
    line-height: 44px;
    padding-left: 18px;
}

.lgu-list-box input {
    display: none;
}

.lguCheck {
    width: 16px;
    height: 16px;
    background: transparent;
    position: absolute;
    top: 50%;
    border: 2px solid #26517d;
    left: 0;
    transform: translate(0,-50%);
}

span.lguCheck.lguChecked::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #ffa500;
    border: 1px solid white;
}

.view-indicator-button {
    background: orange;
    display: block;
    text-align: center;
    width: 100%;
    padding: 16px 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
}

.indicator-results {
    padding: 40px 0;
}

.visual-chart {
    padding: 20px;
    background: #efefef;
    margin-bottom: 30px;
}

.lgu-name-chart {
    background: #26517d;
    padding: 10px 20px;
    position: relative;
}

.lgu-name-chart h4 {
    margin-bottom: 0;
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.lgu-name-chart .fa {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 22px;
}

.indicator-summary {
    margin-bottom: 40px;
}

.latest-rating {
    position: relative;
}

.score-container {
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
}

.rating-poor .score-container {
    width: 25.5%;
}

.rating-fair .score-container {
    width: 50.5%;
}

.rating-good .score-container {
    width: 76%;
}

.rating-verygood .score-container {
    width: 101%;
}

.rating-poor .progress-meter {
    width: 25%;
    background-color: #e74c3c;
}

.rating-fair .progress-meter {
    width: 50%;
    background-color: #f39c12;
}

.rating-good .progress-meter {
    width: 75%;
    background-color: #3498db;
}

.rating-verygood .progress-meter {
    width: 100%;
    background-color: #2ecc71;
}


.indicator-compare-container label {
    color: white;
}

.progress {
    height: 1px;
}


/*MODAL*/


.reveal-modal{
    min-height: 300px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.98);
    z-index: 9999;
}

.summary-modal .reveal-modal {
    width: 40%;
    left: 50%;
    top:50%;
    height: auto;
    min-height: 0;
    transform: translate(-50%,-50%);
}

.prompt-modal .reveal-modal {
    left: 0;
    top: 0;
    height: 100%;
    min-height: 0;
    position: absolute;
    padding: 10px 12px;
    background: white;
    border: 10px solid #384d5e;
    border-bottom: 0;
}

.prompt-modal button{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 24px;
    color: #336699;
}

.prompt-modal a {
    margin-bottom: 0;
}

.feedback-modal .reveal-modal {
    width: 40%;
    left: 50%;
    top:50%;
    height: auto;
    min-height: 0;
    transform: translate(-50%,-50%);
}

.share-modal .reveal-modal {
    width: 30%;
    left: 50%;
    top:50%;
    height: auto;
    min-height: 0;
    transform: translate(-50%,-50%);
}


.formula-modal .reveal-modal {
    padding: 0;
    height: auto;
    background: white;
    position: absolute;
    min-height: 0;
    overflow: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)!important;
}

.formula-modal .row {
    padding: 20px;
    max-height: 220px;
}

.formula-modal .close-reveal-modal, .prompt-modal .close-reveal-modal {
    display: none;
}

.formula-modal .close-formula-modal {
    font-size: 24px!important;
    line-height: 24px!important;
    position: fixed!important;
    right: 0!important;
    border: 1px solid;
    height: 28px;
    width: 28px;
    display: block;
    text-align: center;
    border-radius: 50%;
}

.formula-modal ul li {
    font-size: 12px;
    text-align: left;
}

.ng-modal {
  transition: 0.5s ease-in-out opacity;
}

.ng-modal .reveal-modal {
  display: block;
  visibility: visible;
}

.ng-modal .reveal-modal-bg {
  display: block;
}

.ng-modal.ng-hide-add,
.ng-modal.ng-hide-remove{
  display: block !important;
}

.ng-modal.ng-hide{
  opacity: 0;
}

.reveal-modal{
  transition: 0.5s ease-in-out all;
  transition-delay: 0.2s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  padding: 40px;
}

.reveal-modal .close-reveal-modal, .close-clear {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 50px;
    line-height: 50px;
    color: #f59d15;
}

.simulate-modal .close-reveal-modal {
    display: none;
}

.reveal-modal.ng-hide-add,
.reveal-modal.ng-hide-remove{
  display: block !important;
}

.reveal-modal.ng-hide{
  -webkit-transform: scale(0.8);
  opacity: 0;
}

.simulate-modal h1 {
    font-size: 34px;
    color: #336699!important;
    margin-bottom: 0;
}

.simulate-modal hr {
    border-color: orange!important;
}

.simulate-data input[type="number"] {
    margin-bottom: 0;
    height: 50px;
    background: #f0f0f0;
    border-left: 4px solid orange!important;
    border: 0;
    color: #336699;
    font-family: "Montserrat",sans-serif;
    border-radius: 0px!important;
    box-shadow: none;
}

.simulate-data {
    margin-bottom: 50px;
}

.simulate-data input[type="number"] {
    margin-bottom: 20px!important;
}

.summary-modal .close-reveal-modal, .feedback-modal .close-reveal-modal, .share-modal .close-reveal-modal {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 34px;
    line-height: 34px;
    color: #26517d;
}

/*DETAILED SEARCH*/

.search-result-wrapper {
    margin-bottom: 20px;
    clear: both;
}

.search-result {
    background: rgba(38, 81, 125, 0.05);
    padding: 20px;
    margin-bottom: 10px;
    border-left: 2px solid #26517d;
    position: relative;
}

.search-filters {
    margin-bottom: 20px;
}

.search-filters input, .search-filters select {
    border-left: solid 2px #f59d15!important;
    background: rgba(255, 165, 0, 0.1);
    border: 0;
    box-shadow: none;
    font-family: "Montserrat",sans-serif;
    outline: 0;
    color: #26517d;
    height: 50px;
    margin-bottom: 0;
    cursor: pointer;
    padding: 10px!important;
    position: relative;
    z-index: 2;
}

.search-filters input:focus {
    background: rgba(255, 165, 0, 0.2);
    border: 0;
    box-shadow: none;
    outline: 0;
}

.search-filters .search {
    position: relative;
}

.search-filters .search .fa {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 22px;
    color: #2d5984;
    z-index: 1;
}

.search-filters input::-webkit-input-placeholder {
   color: #26517d;
}

.search-filters input:-moz-placeholder { /* Firefox 18- */
   color: #26517d;  
}

.search-filters input::-moz-placeholder {  /* Firefox 19+ */
   color: #26517d;  
}

.search-filters input:-ms-input-placeholder {  
   color: #26517d;  
}

.search-result h4, .search-result .fa {
    color: #26517d;
}

.search-result ul {
    list-style: none;
    margin: 0;
}

.search-result ul li {
    display: inline-block;
    margin-right: 20px;
    text-transform: capitalize;
    color: #26517d;
}

.view-button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    background: #f59d15;
}

.view-button:hover {
    background: #26517d;
}

button.page-prev, button.page-next, .page-count {
    background: #f59d15;
    padding: 10px 18px;
    color: white;
    font-size: 20px;
    display: inline-block;
}

.page-count {
    background: rgb(244, 246, 248);
    font-size: 19px;
    line-height: 20px;
    color: #336699;
}

.search-results-pagination {
    margin-bottom: 20px;
    float: right;
    clear: both;
}


/*PRELOADER CSS*/

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}