<ul class="menu">
	<li class="active">
  		<a ui-sref="home">HOME</a>
	</li>
	<li>
  		<a ui-sref="search-lgu" ng-show="notHome">SEARCH BY LGU</a>
	</li>
	<li>
  		<a ui-sref="search-indicator" ng-show="notHome">SEARCH BY INDICATOR</a>
	</li>
	<li>
  		<a ui-sref="about-us">ABOUT US</a>
	</li>
	<li>
		<a ui-sref="contact-us">CONTACT US</a>
  	</li>
</ul>