<div class="row">
	<div class="large-12 columns">
		<section class="panel dn">

			<header>Latest Activity <span class="ho"><a href="/activity">view all</a></span></header>

			<div ng-repeat="activity in newActivity | limitTo: 4" class="an {{activity.type}}">
				<div class="aw"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{activity.activity}} - <span>{{activity.user}}</span></div>
			</div>



		</section>
	</div>
</div>