<div class="top-bar" header></div>
  <div class="basic-page-wrapper">
    <div class="page-title">
      <div class="row">
        <div class="large-12 columns">
          <h1>CONTACT US</h1>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="large-8 columns">
          <div class="contact-form">
            <h1>CONTACT FORM</h1>
            <form action="#">
              <div class="row">
                <div class="medium-6 columns">
                    <input type="text" placeholder="Name">
                </div>
                <div class="medium-6 columns">
                    <input type="text" placeholder="Email">
                </div>
                <div class="large-12 columns">
                    <textarea placeholder="Message" rows="8"></textarea>
                </div>
                <div class="large-12 columns">
                  <input type="submit" name="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="contact-info">
            <h1>CONTACT INFO</h1>
            <ul>
              <li><i class="icon-call-end"></i> 02 123-4567</li>
              <li><i class="icon-envelope"></i> info@blgf.gov.ph</li>
              <li><i class="icon-location-pin"></i> 6th floor DOF Building, Roxas Boulevard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 
  </div>

<div footer></div footer>