<footer>
	<div class="row">
	  <div class="large-12 columns">
	    <p>COPYRIGHT © 2014. DOF. BLGF. Credits to Wikipedia (LGU Maps and Seals), and to Emil Gadiano (photographs).</p>
	  </div>
	</div>
</footer>
