<div class="top-bar hidden" header></div>

<div class="map-wrapper map-single">
	<ui-gmap-google-map center="currentMarker" zoom="10" options="options">

      <!-- Active Marker -->
      <ui-gmap-marker coords="currentMarker" idkey="current" options="{icon:imageMarker, animation:1}">
        <ui-gmap-window>
          <div>
            <div>
                <h6>{{currentData.name}}</h6>
                <p>Region: {{currentData.region}}<br>currentData Type: {{currentData.currentData_type}}<br>Income Class: {{currentData.income_class}}</p>
                <p></p>
            </div>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>

      <!-- Nearby LGUs -->
      <ui-gmap-marker ng-repeat="lgu in lgus | filter: {id: '!'+current}" coords="lgu.coords" idkey="lgu.id" options="{icon:mapMarker(lgu), animation:0}">
        <ui-gmap-window>
          <div>
              <h4>{{lgu.name}}</h4>
              <p>Region: {{lgu.region}}<br>lgu Type: {{lgu.lgu_type}}<br>Income Class: {{lgu.income_class}}</p>
              <a href="search-lgu/{{lgu.id}}">Read More</a>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
	</ui-gmap-google-map>

      <div class="search-section hidden">
      <!-- <p>{{currentMarker}}</p> -->
        <div class="show-hide-search">
          <button "#" id="show-hide-3"><i class="fa fa-angle-left"></i><i class="fa fa-angle-right animated infinite"></i></button>
        </div>
        <div search-lgu></div>
            <ul class="municipalities">
            	<li ng-repeat="lgu in lgus | filter:lguSearch">
            		<a href="search-lgu/{{lgu.id}}">{{lgu.name}}</a>
            	</li>
            </ul>
            <div class="quick-facts">
              <div class="lgu-name">
                <h2><i class="fa fa-info-circle"></i> {{currentData.name}}</h2>
              </div>
              <div class="lgu-text">
                <ul>
                  <li><span>Type:</span> {{currentData.lgu_type}}</li>
                  <li><span>Province:</span> {{currentData.province}}</li>
                  <li><span>Region:</span> {{currentData.region}}</li>
                  <li><span>Income Class:</span> {{currentData.income_class}}</li>
                  <li><span>Geo Location:</span> {{ 'Long ' + currentMarker.longitude + ', Lat ' + currentMarker.latitude}}</li>
                </ul>
              </div>
            </div>


      </div>
</div>


    <div class="lgu-name-section hidden">
      <div class="row">
        <div class="large-12 columns">
          <h1>{{currentData.name}}</h1>
          <hr>
          <p><strong>To browse all indicators of each group, for this {{currentData.lgu_type}}, click the corresponding icon</strong><br>Below each icon, you can see a featured indicator of the group</p>
        </div>
      </div>
    </div>

<!--     <div class="test">
      <ul>
        <li ng-repeat="lgu in arrGeo">
          {{lgu.coords}}
          {{lgu.Lat}}
        </li>
      </ul>
    </div> -->

    <div class="main-section">

      <div class="row indicators-wrap">
        <h1 class="section-title">INDICATOR CATEGORY</h1>
        <div class="title-div">
          <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i>
        </div>
        <div class="large-4 columns">
          <div class="indicator-category">
            <a class="icon">
              <i class="icon-chart"></i>
            </a>
            <div class="text">
              <h3>REVENUE</h3>
              <p>Reflect revenue generation<br>capacity</p>
            </div>
            <div class="readmore">
              <a href="search-lgu/{{currentData.id}}/revenue"><span>VIEW INDICATOR</span> <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="indicator-category">
            <a class="icon">
              <i class="icon-pie-chart"></i>
            </a>
            <div class="text">
              <h3>EXPENDITURES</h3>
              <p>Reflect expenditures<br>rigidity</p>
            </div>
            <div class="readmore">
              <a href="search-lgu/{{currentData.id}}/expenditures"><span>VIEW INDICATOR</span> <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="indicator-category">
            <a class="icon">
              <i class="icon-list"></i>
            </a>
            <div class="text">
              <h3>COMPLIANCE</h3>
              <p>Reflects the debt carrying<br>capacity of an LGU</p>
            </div>
            <div class="readmore">
              <a href="search-lgu/{{currentData.id}}/compliance"><span>VIEW INDICATOR</span> <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
<div footer></div footer>