<div class="top-bar" header></div>
    <div class="main-wrapper">
      <div id="main-banner">
        <div class="row">
          <div class="large-6 columns text-column equalizer-watch">
            <div class="banner-text hidden">
              <h2>How well did your LGU manage<br>your taxpayer money?</h2>
              <p>We are doing our part by making data open and transparent. Do yours by holding your LGU accountable.</p>
            </div>
          </div>
          <div class="large-6 columns icon-column equalizer-watch">
            <div class="banner-button">
              <div class="row">
                <div class="large-6 columns">
                  <a ui-sref="search-lgu" class="button-link">
                    <div class="button-icon bIcon1 hidden">
                      <img src="/images/icon-map.png" alt="">
                      <p>SEARCH BY<br>LGU</p>
                    </div>
                  </a>
                </div>
                <div class="large-6 columns">
                  <a ui-sref="search-indicator" class="button-link">
                    <div class="button-icon bIcon2 hidden">
                      <img src="/images/icon-indicator.png" alt="">
                      <p>SEARCH BY<br>INDICATOR</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Search -->
      <div class="banner-search-wrapper hidden">
        <div class="row">
          <div class="large-6 large-centered columns search-container">
          <div class="home-search" search-lgu></div>
            <ul class="search-results">
                  <li ng-repeat="lgu in lgus | filter:testFilter"><a href="search-lgu/{{lgu.id}}">{{lgu.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Indicators -->
    <div class="indicators-wrapper">
      <div class="row">
        <div class="large-4 column">
          <a class="indicator" ui-sref="search-indicator">
            <div class="indicator-icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <p>REVENUE</p>
          </a>
        </div>
        <div class="large-4 column">
          <a class="indicator" ui-sref="search-indicator">
            <div class="indicator-icon">
              <i class="fa fa-pie-chart"></i>
            </div>
            <p>EXPENDITURE</p>
          </a>
        </div>
        <div class="large-4 column">
          <a class="indicator" ui-sref="search-indicator">
            <div class="indicator-icon">
              <i class="fa fa-list"></i>
            </div>
            <p>COMPLIANCE</p>
          </a>
        </div>
      </div>
    </div>

  </div>
