<div class="row" ng-show="count">
	<div class="large-12 columns">
		<section class="panel dnln">

			<header>Latest Notifications <span class="ho"><a href="/notifications">view all</a></span></header>

			<div ng-repeat="notifications in newNotifications | limitTo: 2" class="ln an {{notifications.type}}">
				<span class="from">{{notifications.from}}</span> {{notifications.notification}}
				<div class="meta-date">{{notifications.date}}</div>
				<span class="noticlose"><i class="fa fa-times" aria-hidden="true"></i></span>
			</div>

		</section>
	</div>
</div>