<form action="">
  <span class="input input--browse">
    <input class="input__field input__field--browse" type="text" id="lguSearchFilter" ng-model="lguSearch" autocomplete="off" />
    <label class="input__label input__label--browse input__label--browse-color-1" for="input-4">
      <span class="input__label-content input__label-content--browse">SEARCH LGU</span>
    </label>
    <button class="search-button" href="#"><i class="fa fa-search"></i></button>
  </span>
</form>
