<div class="top-bar" header></div>
  <div class="basic-page-wrapper">
    <div class="page-title">
      <div class="row">
        <div class="large-12 columns">
          <h1>DETAILED SEARCH</h1>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="search-filters">
        <div class="row">
          <div class="large-5 columns">
            <div class="search">
              <input type="text" placeholder="SEARCH LGU" id="lguSearchFilter" ng-model="lguSearch">
            </div>
          </div>
          <div class="large-2 columns">
            <div class="search">
              <select id="lguTypes" ng-model="lguTypes" ng-init="lguTypes == ''" ng-change="filterChange(); typeChange(lguTypes)">
                <option value="" disabled>LGU TYPE</option>
                <option ng-repeat="type in lguType | unique: 'type' | orderBy" value="{{type}}">{{(type | uppercase)}}</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
          <div class="large-3 columns">
            <div class="search">
              <select id="lguClass" ng-model="lguClass" ng-change="filterChange(); classChange(lguClass)">
                <option value="" disabled>INCOME CLASS</option>
                <option ng-repeat="class in incomeClass | unique: 'class' | orderBy" value="{{class}}">Income Class {{(class | uppercase)}}</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
          <div class="large-2 columns">
            <div class="search">
              <select id="lguRegion" ng-model="lguRegion" ng-change="filterChange(); regionChange(lguRegion)">
                <option value="" disabled>REGION</option>
                <option ng-repeat="region in regions | unique: 'region' | orderBy">{{(region | uppercase)}}</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="large-12 columns">
          <div class="search-results-pagination" ng-if="detailedFilter != null">
            <button class="page-prev" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <i class="fa fa-angle-left"></i>
            </button>
            <div class="page-count">
              {{currentPage+1}}/{{numberOfPages()}}
            </div>
            <button class="page-next" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                <i class="fa fa-angle-right"></i>
            </button>
          </div>
          <div class="search-result-wrapper">
            <div ng-if="detailedFilter == null">
              <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
            </div>
          <!-- filter:(!!lguFilter || undefined) && {lgu_type: lguFilter} | filter:(!!incomeClass || undefined) && {income_class: incomeClass} -->
            <div class="search-result" ng-repeat="lgu in detailedFilter | startFrom:currentPage*pageSize | limitTo:pageSize | filter: lguSearch">
            <!-- <div class="search-result" ng-repeat="lgu in detailedFilter"> -->
              <h4>{{lgu.name}}</h4>
              <ul>
                <li><i class="fa fa-bank"></i> {{lgu.type}}</li>
                <li><i class="fa fa-map-marker"> </i> {{(lgu.region | uppercase)}}</li>
                <li><i class="fa fa-line-chart"> </i> Income Class {{lgu.income_class}}</li>
              </ul>
              <a href="search-lgu/{{lgu.id}}" class="button view-button">VIEW SCORECARD</a>
            </div>
          </div>
<!--           <ul>
              <li ng-repeat="item in data | startFrom:currentPage*pageSize | limitTo:pageSize">
                  {{item.name}} - {{item.lgu_type}}
              </li>
          </ul> -->

          <div class="search-results-pagination" ng-if="detailedFilter != null">
            <button class="page-prev" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <i class="fa fa-angle-left"></i>
            </button>
            <div class="page-count">
              {{currentPage+1}}/{{numberOfPages()}}
            </div>
            <button class="page-next" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                <i class="fa fa-angle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<div footer></div footer>