<div class="top-bar hidden" header></div>

<div class="map-wrapper">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
      <ui-gmap-marker ng-if="incomeClass != 'others'" ng-repeat="lgu in lgus | filter:(!!lguFilter || undefined) && {lgu_type: lguFilter} | filter:(!!incomeClass || undefined) && {income_class: incomeClass}" coords="lgu.coords" idkey="lgu.id" options="{icon:mapMarker(lgu)}" events="clickEventsObject">
        <ui-gmap-window options="windowOptions">
          <div>
              <h6>{{lgu.name}}</h6>
              <p>Region: {{lgu.region}}<br>LGU Type: {{lgu.lgu_type}}<br>Income Class: {{lgu.income_class}}</p>
              <p></p>
              <a href="search-lgu/{{lgu.id}}">Read More</a>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>

     <ui-gmap-marker ng-if="incomeClass == 'others'" ng-repeat="lgu in lgus | filter:(!!lguFilter || undefined) && {lgu_type: lguFilter} | filter:(!!incomeClass || undefined) && incomeFilter" coords="lgu.coords" idkey="lgu.id" options="{icon:mapMarker(lgu)}" events="clickEventsObject">
        <ui-gmap-window options="windowOptions">
          <div>
              <h6>{{lgu.name}}</h6>
              <p>Region: {{lgu.region}}<br>LGU Type: {{lgu.lgu_type}}<br>Income Class: {{lgu.income_class}}</p>
              <p></p>
              <a href="search-lgu/{{lgu.id}}">Read More</a>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>

  </ui-gmap-google-map>

      <div class="search-section hidden">
        <div class="show-hide-search">
          <button "#" id="show-hide-2"><i class="fa fa-angle-left"></i><i class="fa fa-angle-right animated infinite"></i></button>
        </div>
        <h1>SEARCH BY LGU</h1>
        <div search-lgu></div>
            <ul class="municipalities">
              <li ng-repeat="lgu in lgus | filter:lguSearch">
                <a href="search-lgu/{{lgu.id}}">{{lgu.name}}</a>
              </li>
            </ul>

        <div class="advanced-search">
          <h2>Advance Search</h2>
          <div class="lgu-type">
            <form action="" ng-init="lguFilter=''">
            <h3>LGU Type</h3>
            <div class="lgu-input">
              <input type="radio" id="lguAll" ng-model="lguFilter" value="" checked>
              <label for="lguAll"><div class="lguBox" ng-class="{lguAll : lguFilter == ''}"></div> <p>All</p></label>
            </div>
            <div class="lgu-input">
              <input type="radio" id="lguCity" ng-model="lguFilter" value="City">
              <label for="lguCity"><div class="lguBox" ng-class="{lguCity : lguFilter == 'City'}"></div> <p>City</p></label>
            </div>
            <div class="lgu-input">
              <input type="radio" id="lguProvince" ng-model="lguFilter" value="Province">
              <label for="lguProvince"><div class="lguBox" ng-class="{lguProvince : lguFilter == 'Province'}"></div> <p>Province</p></label>
            </div>
            <div class="lgu-input">
              <input type="radio" id="lguMunicipality" ng-model="lguFilter" value="Municipality">
              <label for="lguMunicipality"><div class="lguBox" ng-class="{lguMunicipality : lguFilter == 'Municipality'}"></div> <p>Municipality</p></label>
            </div>
            </form>
          </div>
          <div class="income-class">
            <form ng-init="incomeClass=''">
              <h3>Income Class</h3>
              <div class="income">
                <input type="radio" id="incomeclass0" ng-model="incomeClass" value="" checked>
                <label for="incomeclass0">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == ''}"></div>
                  <p>All</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass1" ng-model="incomeClass" value="1">
                <label for="incomeclass1">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 1}"></div>
                  <p>Income Class 1</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass2" ng-model="incomeClass" value="2">
                <label for="incomeclass2">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 2}"></div>
                  <p>Income Class 2</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass3" ng-model="incomeClass" value="3">
                <label for="incomeclass3">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 3}"></div>
                  <p>Income Class 3</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass4" ng-model="incomeClass" value="4">
                <label for="incomeclass4">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 4}"></div>
                  <p>Income Class 4</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass5" ng-model="incomeClass" value="5">
                <label for="incomeclass5">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 5}"></div>
                  <p>Income Class 5</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass6" ng-model="incomeClass" value="6">
                <label for="incomeclass6">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 6}"></div>
                  <p>Income Class 6</p>
                </label>
              </div>
              <div class="income">
                <input type="radio" id="incomeclass7" ng-model="incomeClass" value="others">
                <label for="incomeclass7">
                  <div class="incomeclassBox" ng-class="{iClass : incomeClass == 'others'}"></div>
                  <p>Others</p>
                </label>
              </div>
            </form>
          </div>
        </div>
          <div class="detailed-search">
            <button ui-sref="detailed-search">DETAILED SEARCH</button>
          </div>
      </div>
</div>

