<div class="row">
	<div class="large-12 columns">
		<section class="panel dn">

			<header>Latest News Feed <span class="ho"><a href="/news-feed">view all</a></span></header>

			<div ng-repeat="news in newsFeeds | limitTo: 4">
				<div class="nf"><a href="news-feed/{{news.slug}}">{{news.title}}</a></div>
			</div>

		</section>
	</div>
</div>