<div class="row">
	<div class="large-12 columns">
		<section class="panel dnln">

			<header>List View <!-- <span class="ho"><a href="/notifications">view all</a></span> --></header>

			<div class="row">
				<div class="large-2 columns">
					<div class="row">
						<div class="large-9 columns">
							<select name="bulk" class="bulk">
								<option class="placeholder" value="" disabled selected hidden>Bulk</option>
								<option value="edit"><i class="fa fa-pencil-square-o action" aria-hidden="true"></i> Edit</option>
								<option value="delete"><i class="fa fa-trash action" aria-hidden="true"></i> Delete</option>
							</select>
						</div>
						<div class="large-3 columns nopadding">
							<button class="button fullwidth">Apply</button>
						</div>
					</div>
				</div>
				<div class="large-6 columns"><input type="text" class="search" placeholder="Search" ng-model="searchData"></div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<div class="table-scroll">
					  <table>
					  	<thead>
					  		<tr>
					  			<th width="15"><input id="selectAll" type="checkbox"></th>
					  			<th ng-repeat="key in keys">{{ key }}</th>
					  			<th width="100" class="action-th">Action</th>
					  		</tr>
					  	</thead>
					  	<tbody>
					  		<tr class="dfs" ng-repeat="data in datas | filter:searchData">
					  			<td><input class="selectBox" type="checkbox"></td>
					  			<td ng-repeat="key in keys" class="df"><a href="{{getPath + '/' + data[firstField]}}">{{ data[key] }}</a></td>
					  			<td class="action-td">
					  				<i class="fa fa-pencil-square-o action" aria-hidden="true"></i>
					  				<a data-open="deleteModal"><i class="fa fa-trash action" aria-hidden="true"></i></a>
										<div class="reveal" id="deleteModal" data-reveal>
										  <h1>Awesome. I Have It.</h1>
										  <p class="lead">Your couch. It is mine.</p>
										  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
										  <button class="close-button" data-close aria-label="Close modal" type="button">
										    <span aria-hidden="true">&times;</span>
										  </button>
										</div>
					  			</td>
					  		</tr>
					  	</tbody>
					  </table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

