<!-- 
  <div class="top-bar-title">
  	<div id="logo">
  		<img src="/images/logo.png" alt="">
  	</div>
  	<div class="toggle-aside">
  		<button id="toggle-menu" toggle-side><i class="icon-menu icons"></i></button>
  	</div>
  </div>

  	<div class="top-bar-left">
  		<h1 update-title></h1>
  	</div>

    <div class="top-bar-right">
		<span>Juan Dela Cruz<i class="hi user fa fa-user" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i></span>
    </div>
 -->


    <div class="top-bar">
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar-title">
<!--             <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <button class="menu-icon dark" type="button" data-toggle></button>
            </span> -->
            <a href="#" id="logo"><img src="/images/blgf-logo.png" alt="BLGF"> <span>BLGF PORTAL</span></a>
          </div>
          <div id="responsive-menu">
            <div class="top-bar-left">
            </div>
            <div class="top-bar-right" main-navigation>
<!--               <ul class="menu" >
                <li><a href="/">HOME</a></li>
                <li><a href="/about-us">ABOUT US</a></li>
                <li><a href="/contact-us">CONTACT US</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>