<div class="top-bar" header></div>
  <div class="basic-page-wrapper">
    <div class="page-title">
      <div class="row">
        <div class="large-12 columns">
          <h1>ABOUT US</h1>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="large-12 columns">
          <p>The LGU Fiscal Sustainability Scorecard aims to institutionalize the regular publication of ﬁscal indicators and performance review of the LGUs in the spirit of accountability and good local financial housekeeping.</p>
          <p>Local treasurers and assessors are responsible for the accuracy and integrity of the reports submitted to the DOF and the BLGF, on which the overall performance assessment of their LGUs is primarily based. The results of the assessment, therefore, reflect an LGU’s quality of fiscal and financial management and the level of efficiency and innovativeness in resource mobilization and expenditure management.</p>
          <p>As we have already completed the assessment for fiscal years 2009 to 2012, we will begin looking closer into the 2013 LGU reports this June and expand the benchmarks and indicators to see whether LGU performance has improved.</p>
<br>
          <h1 class="section-title">OBJECTIVES</h1>
          <div class="title-div">
            <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i>
          </div>
          <div class="row">
            <div class="large-3 columns">
              <div class="objective-icon">
                <img src="images/icon-objective-1.png" alt="">
              </div>
              <div class="objective-text">
                <h5>To assess individual<br>LGU performance;</h5>
              </div>
            </div>
            <div class="large-3 columns">
              <div class="objective-icon">
                <img src="images/icon-objective-2.png" alt="">
              </div>
              <div class="objective-text">
                <h5>To provide active<br>advisory to LGUs;</h5>
              </div>
            </div>
            <div class="large-3 columns">
              <div class="objective-icon">
                <img src="images/icon-objective-3.png" alt="">
              </div>
              <div class="objective-text">
                <h5>To support LGU<br>credit assessment;</h5>
              </div>
            </div>
            <div class="large-3 columns">
              <div class="objective-icon">
                <img src="images/icon-objective-4.png" alt="">
              </div>
              <div class="objective-text">
                <h5>To support policy<br>formulation</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div footer></div footer>