<div class="top-bar hidden" header></div>

<div class="map-wrapper search-indicator-map">
<!-- 	<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
	    <ui-gmap-marker ng-repeat="lgu in lgus" coords="lgu.location" idkey="lgu.id" options="{icon:mapMarker(lgu)}" events="lgu.events" click="onClick()">
	      <ui-gmap-window options="windowsOption" closeClick="closeClick()">
    			<div>
    	        <h4>{{lgu.lguName}}</h4>
    	        <p>{{lgu.quickFacts}}</p>
              <a href="search-lgu-single/{{lgu.id}}">Read More</a>
    			</div>
	      </ui-gmap-window>
	    </ui-gmap-marker>
	</ui-gmap-google-map> -->

  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
      <ui-gmap-marker ng-repeat="lgu in lgus | filter:{included:true}" coords="lgu.coords" idkey="lgu.id" options="{icon:mapMarker(lgu)}">
        <ui-gmap-window>
          <div>
              <h6>{{lgu.name}}</h6>
              <p>Region: {{lgu.region}}<br>LGU Type: {{lgu.lgu_type}}<br>Income Class: {{lgu.income_class}}</p>
              <p></p>
              <a href="search-lgu/{{lgu.id}}">Read More</a>
          </div>
        </ui-gmap-window>
      </ui-gmap-marker>
  </ui-gmap-google-map>

      <div class="search-section hidden">
        <div class="show-hide-search">
          <button "#" id="show-hide-2"><i class="fa fa-angle-left"></i><i class="fa fa-angle-right animated infinite"></i></button>
        </div>
        <h1>SEARCH BY INDICATOR</h1>
        <div class="indicator-selector-wrapper">
            <div class="select-indicator-category">
              <div class="select-wrapper">
                <select ng-init="indicatorCat = 'revenue'" ng-model="indicatorCat">
                 <option value="revenue">REVENUE</option>
                 <option value="expenditure">EXPENDITURES</option>
                 <option value="compliance">COMPLIANCE</option>
                </select>
                <i class="fa fa-angle-down"></i>
              </div>
            </div>
            <div class="select-indicator-name">
              <div class="select-wrapper">
                <select ng-model="selectedIndicator" ng-change="currentI(selectedIndicator); lguSelect()">
                  <option value="" ng-selected="true" disabled="true">-- SELECT INDICATOR --</option>
                  <option ng-show="indicatorCat == 'revenue'" ng-repeat="kra1 in indicatorAll | filter:{key_result_area_id: 1}" value="{{kra1.id}}">{{kra1.name}}</option>
                  <option ng-show="indicatorCat == 'revenue'" ng-repeat="kra2 in indicatorAll | filter:{key_result_area_id: 2}" value="{{kra2.id}}">{{kra2.name}}</option>
                  <option ng-show="indicatorCat == 'expenditure'" ng-repeat="kra3 in indicatorAll | filter:{key_result_area_id: 3}" value="{{kra3.id}}">{{kra3.name}}</option>
                  <option ng-show="indicatorCat == 'compliance'" ng-repeat="kra4 in indicatorAll | filter:{key_result_area_id: 4}" value="{{kra4.id}}">{{kra4.name}}</option>
                  <option ng-show="indicatorCat == 'compliance'" ng-repeat="kra5 in indicatorAll | filter:{key_result_area_id: 5}" value="{{kra5.id}}">{{kra5.name}}</option>
                </select>
                <i class="fa fa-angle-down"></i>
              </div>
            </div>
        </div>
        
        <div class="choose-lgu-container">
          <p>Choose up to 6 LGUs to access data from the selected indicator</p>
          <div search-lgu></div>
          <ul class="municipalities">
<!--             <li ng-repeat="lgu in lgus | filter:lguSearch" class="lgu-list-box">
              <input type="checkbox" id="{{lgu.slug}}" ng-model="lguCheck">
              <label for="{{lgu.slug}}">{{lgu.lguName}} <span class="lguCheck" ng-class="{lguChecked : lguCheck}"></span></label>
            </li> -->

            <li ng-repeat="lgu in lgus | filter:lguSearch" class="lgu-list-box">
              <input type="checkbox" id="{{lgu.id}}" ng-model="lgu.included" ng-change="lguInclude(lgu)" ng-checked="lgu.included" ng-disabled="checked==limit && !lgu.included" ng-click="lguSelect()">
              <label for="{{lgu.id}}">{{lgu.name}}<span class="lguCheck" ng-class="{lguChecked : lgu.included}"></span></label>
            </li>

<!--             <li ng-repeat="lgu in lgus | filter:lguSearch" class="lgu-list-box">
              <input type="checkbox" id="{{lgu.id}}" ng-model="lguCheck.selected[lgu.id]" ng-clicked="lguSelect('{{lgu.id}}')">
              <label for="{{lgu.id}}">{{lgu.name}} <span class="lguCheck" ng-class="{lguChecked : lguCheck.selected[lgu.id]}"></span></label>
            </li> -->

          </ul>
          <button class="view-indicator-button" ng-click="clearAll(); lguSelect()">CLEAR SELECTED</button>
        </div>
    
 
      </div>
</div>

<!-- Main Section -->

<section class="indicator-results" ng-if="selectedIndicator != null">
  <div class="indicator-title">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="section-title">{{currentIndName}}</h1>
          <div class="title-div">
            <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i>
          </div>
      </div>
    </div>
  </div>

  <div class="indicator-summary">
    <div class="row">
      <div class="large-5 columns">
        <canvas id="polar-area" width="800" height="600" class="chart chart-polar-area" chart-data="lguSummary.datas" chart-labels="lguSummary.name" chart-options="summaryOptions">
        </canvas> 
        <!-- {{summaryChart.datas}} -->
      </div>
      <div class="large-7 columns">
<!--         <div class="latest-rating" ng-repeat="lguChart in lguCharts" 
        ng-class="{'rating-poor': lguChart.data[0][0] < 6, 'rating-fair': lguChart.data[0][0] < 11 && lguChart.data[0][0] > 5, 'rating-good': lguChart.data[0][0] < 16 && lguChart.data[0][0] > 10, 'rating-verygood': lguChart.data[0][0] < 21 && lguChart.data[0][0] > 15}"> -->
        <div class="latest-rating" ng-repeat="lguData in lgusData">
          <h5>{{lguData.name}}</h5>
          <div class="score-container"><h6>{{lguData.latestData | number}}</h6></div>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{lguData.latestData | number}}" aria-valuemin="0">
              <span class="progress-meter">
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indicator-visuals">
    <div class="row">
      <div class="lgu-chart" ng-repeat="lgu in lgusData">
        <div class="large-4 columns">
          <div class="lgu-name-chart">
            <h4>{{lgu.name}}</h4>
            <i class="fa fa-info-circle"></i>
          </div>
          <div class="visual-chart">
            <canvas id="bar" class="chart chart-bar" chart-data="lgu.data" chart-labels="lgu.labels" chart-options="chartOptions.options">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>