<div class="top-bar" header></div>
  <div class="wrapper">
    <article class="container">
      <div class="event-banner">
        <div class="event-banner-text">
          <h1 class="event-name">Fashion Exchange International</h1>
        </div>
        <div class="event-summary">
          <div class="row expanded">
            <div class="large-4 columns summary-wrapper">
              <div class="summary-icon">
                <i class="fa fa-map-marker"></i>
              </div>  
               <div class="summary summary-1">
                <div class="summary-label">
                  <h4>Venue</h4>
                </div>
                <div class="summary-value">
                  <h2>Marriot Hotel at Resorts World Manila</h2>
                </div>
              </div>
            </div>
            <div class="large-4 columns summary-wrapper">
              <div class="summary-icon">
                <i class="fa fa-calendar"></i>
              </div> 
              <div class="summary summary-2">
                <div class="summary-label">
                  <h4>Date</h4>
                </div>
                <div class="summary-value">
                  <h2>July 27, 2016</h2>
                </div>
              </div>
            </div>
            <div class="large-4 columns summary-wrapper">
              <div class="summary-icon">
                <i class="fa fa-clock-o"></i>
              </div> 
              <div class="summary summary-3">
                <div class="summary-label">
                  <h4>Time</h4>
                </div>
                <div class="summary-value">
                  <h2>6:00 PM Onwards</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  		<div class="page">

        <div id="event-details" class="row expanded">
          <div class="large-7 columns event-schedule">
              <div class="panel-left">
                <div class="panel-title">
                  <h4>EVENT SCHEDULE</h4>
                </div>
                <div class="schedule-wrapper">
                <ul>
                  <li ng-repeat="schedule in schedules">
                    <div class="schedule row">
                      <div class="large-3 columns">
                        <div class="time-wrapper">
                          <div class="schedule-time">
                            <div class="time-icon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                            <h3>{{schedule.scheduleTime}}</h3>
                          </div>
                        </div>
                      </div>
                      <div class="large-9 columns">
                        <div class="details-wrapper">
                          <div class="schedule-details">
                            <h2>{{schedule.scheduleName}}</h2>
                            <p>{{schedule.scheduleDetails}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>


                </div>
              </div>
          </div>
          <div class="large-5 columns event-confirmed-guest">
              <div class="panel-left">
                <div class="panel-title">
                  <h4>CONFIRMED GUESTS</h4>
                </div>
                <div class="guest-lists">
                  <ul>
                    <li ng-repeat="guest in guestLists | orderBy:'lastName'" ng-if="guest.guestStatus == 'Confirmed' ">{{guest.firstName}} {{guest.lastName}} <span class="{{guest.ticketType}}">{{guest.ticketType}}</span></li>
                  </ul>
                </div>
              </div>
          </div>
        </div>

  			


<!--         <ul>
          <li ng-repeat="data in datas">{{data}}</li>
        </ul>

        <ul>
          <li ng-repeat="datakey in dataKeys">{{datakey}}</li>
        </ul>

        <table width="100px" >
          <thead>
            <tr>
              <th ng-repeat="datakey in dataKeys">{{datakey}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td  ng-repeat="data in datas">{{data}}</td>
            </tr>
          </tbody>
        </table> -->

  		</div>

    </article>
    <aside main-navigation></aside>
      <!-- <footer class="footer" footer></footer> -->
<!--       <footer-directive></footer-directive>
      <div footer-directive></div> -->
  </div>
