<div class="top-bar hidden" header></div>

<!-- LGU Banner -->
    <div id="lgu-banner" class="hidden">
      <div class="lgu-banner-wrapper">
        <div class="row">
          <div class="large-12 columns">
            <div class="lgu-info hidden">
              <img class="lgu-logo" src="images/naga-logo.png" alt="">
              <h1 class="lgu-name">{{currentLgu.name}}</h1>
              <div class="lgu-links">
                <ul class="menu icon-top">
                  <li><a ng-click="toggleSummary()"><i class="fa fa-info-circle"></i> <span>SUMMARY</span></a></li>
                  <li><a ng-click="toggleFeedback()"><i class="fa fa-envelope"></i> <span>SEND FEEDBACK</span></a></li>
                  <li><a ng-click="toggleShare()"><i class="fa fa-share-alt"></i> <span>SHARE</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <div class="lgu-performance hidden perf-poor">
                <p class="perf-year">FY-{{overAll[0].raw_data[2].year}} Performance</p>
                <div class="perf-div">
                  <hr>
                  <div class="perf-icon">
                    <h4>{{overAll[1].raw_data[2].datum}}</h4>
                  </div>
                </div>
                <h4 class="perf-rate">{{overAll[0].raw_data[2].datum}}</h4>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="lgu-performance hidden perf-vgood">
                <p class="perf-year">FY-{{overAll[0].raw_data[1].year}} Performance</p>
                <div class="perf-div">
                  <hr>
                  <div class="perf-icon">
                    <h4>{{overAll[1].raw_data[1].datum}}</h4>
                  </div>
                </div>
                <h4 class="perf-rate">{{overAll[0].raw_data[1].datum}}</h4>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="lgu-performance hidden perf-good">
                <p class="perf-year">FY-{{overAll[0].raw_data[0].year}} Performance</p>
                <div class="perf-div">
                  <hr>
                  <div class="perf-icon">
                    <h4>{{overAll[1].raw_data[0].datum}}</h4>
                  </div>
                </div>
                <h4 class="perf-rate">{{overAll[0].raw_data[0].datum}}</h4>
            </div>
          </div>
        </div>
<!--         <div class="row">
          <div class="large-4 columns" ng-repeat="primeScore in overAll">
            <div class="lgu-performance perf-poor">
                <p class="perf-year">FY-{{primeScore.raw_data[0].year}} Performance</p>
                <div class="perf-div">
                  <hr>
                  <div class="perf-icon">
                    <h4>2</h4>
                  </div>
                </div>
                <h4 class="perf-rate">{{overAll[0].raw_data[0].year}}</h4>
            </div>
          </div>
        </div> -->


      </div>
    </div>

  <!-- SUMMARY MODAL -->

    <div show="showSummary" modal class="summary-modal">
      <div class="row">
        <div class="large-12 columns">
            <h5>SUMMARY</h5>
              <ul>
                <li><span>Type:</span> {{currentLgu.lgu_type}}</li>
                <li><span>Province:</span> {{currentLgu.province}}</li>
                <li><span>Region:</span> {{currentLgu.region}}</li>
                <li><span>Income Class:</span> {{currentLgu.income_class}}</li>
                <li><span>Geo Location:</span> {{ 'Long ' + currentLgu.coords.longitude + ', Lat ' + currentLgu.coords.latitude}}</li>
              </ul>
        </div>
      </div>
    </div>

  <!-- FEEDBACK MODAL -->
    <div show="showFeedback" modal class="feedback-modal">
      <div class="row">
        <div class="large-12 columns">
          <div class="contact-form">
            <h1>SEND FEEDBACK FOR {{currentLgu.name}}</h1>
            <form action="#">
              <div class="row">
                <div class="medium-6 large-6 columns">
                    <input type="text" placeholder="Name">
                </div>
                <div class="medium-6 large-6 columns">
                    <input type="text" placeholder="Email">
                </div>
                <div class="medium-12 large-12 columns">
                    <input type="text" value="Subject: Feedback for {{currentLgu.name}}" disabled>
                </div>
                <div class="medium-12 large-12 columns">
                    <textarea placeholder="Message" rows="8"></textarea>
                </div>
                <div class="large-12 columns">
                  <input type="submit" name="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-- SOCIAL MEDIA SHARE -->
    <div show="showShare" modal class="share-modal">
      <div class="row">
        <div class="large-12 columns">
            <h5>SHARE ON SOCIAL MEDIA</h5>
            <div class="fb-share-button" data-href="http://lguportal.blgf.grapikom.com/search-lgu/{{currentLgu.id}}/revenue" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flguportal.blgf.grapikom.com%2Fsearch-lgu%2F629%2Frevenue&amp;src=sdkpreparse">Share</a></div>
        </div>
      </div>
    </div>

<!-- Select Indicator -->
    <div id="search-fields">
      <div class="show-fields">
        <button ><i class="fa fa-angle-double-down"></i><i class="fa fa-angle-double-up"></i></button>
      </div>
      <div class="fields lgu-indicator-category">
        <div class="row">
          <div class="large-5 columns">
            <div class="select-wrapper">
              <select ng-init="indicatorCat = 'expenditure'" ng-model="indicatorCat">
               <option value="expenditure">EXPENDITURES</option>
               <option value="revenue">REVENUE</option>
               <option value="compliance">COMPLIANCE</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
          <div class="large-7 columns">
            <div class="select-wrapper">
              <select ng-model="selectedIndicator" ng-change="currentI(selectedIndicator); lguSelect(); indicatorChange()">
                <option value="" ng-selected="true" disabled="true">-- SELECT INDICATOR --</option>
                <option ng-show="indicatorCat == 'revenue'" ng-repeat="kra1 in indicatorAll | filter:{key_result_area_id: 1}" value="{{kra1.id}}">{{kra1.name}}</option>
                <option ng-show="indicatorCat == 'revenue'" ng-repeat="kra2 in indicatorAll | filter:{key_result_area_id: 2}" value="{{kra2.id}}">{{kra2.name}}</option>
                <option ng-show="indicatorCat == 'expenditure'" ng-repeat="kra3 in indicatorAll | filter:{key_result_area_id: 3}" value="{{kra3.id}}">{{kra3.name}}</option>
                <option ng-show="indicatorCat == 'compliance'" ng-repeat="kra4 in indicatorAll | filter:{key_result_area_id: 4}" value="{{kra4.id}}">{{kra4.name}}</option>
                <option ng-show="indicatorCat == 'compliance'" ng-repeat="kra5 in indicatorAll | filter:{key_result_area_id: 5}" value="{{kra5.id}}">{{kra5.name}}</option>
              </select>
              <i class="fa fa-angle-down"></i>
            </div>
          </div>
<!--           <div class="large-2 columns">
            <input type="submit" class="button" value="Submit">
          </div> -->
        </div>
      </div>
    </div>

<!-- Main Section -->
      <section id="section-indicators">

      <div class="row">
        <div class="large-12 columns">
        
        <!-- Initial Indicator Data -->

          <div class="indicator-wrapper" ng-if="selectedIndicator == null">
          <!-- Indicator Header -->
            <div class="indicator-header">
              <div class="row expanded">
                <div class="large-8 columns">
                  <h4 class="indicator-name" ng-repeat="indicator in indicatorAll | filter:{id: 54} : true"><span><img src="images/icon-revenue.png" alt=""></span> {{indicator.name}}</h4>
                </div>
                <div class="large-4 columns">
                  <div class="indicator-actions">
                    <a href="#"><i class="fa fa-print"></i></a> <a href="#"><i class="fa fa-file-text-o"></i></a> <a href="#"><i class="fa fa-file-excel-o"></i></a>
                  </div>
                </div>
              </div>
            </div>

          <!-- Indicator Content -->
            <div class="indicator-content">
              <div class="row expanded">
                <div class="large-5 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-side">
                    <div class="indicator-value score-{{score.data_type}} {{indicatorCat}}">
                      <h1 ng-if="score.data_type == 'million' || score.data_type == 'percent' || score.data_type == 'number'">{{score.latestData | number}}<span>%</span></h1>
                      <h1 ng-if="score.data_type == 'text'">{{score.latestData}}<span>%</span></h1>
                      <p><a ng-click="toggleFormula()"><img src="images/formula-icon.png" alt=""> FORMULA</a></p>


                    </div>
                        <!-- FORMULA MODAL -->

                          <div show="showFormula" modal class="formula-modal">
                            <div class="row">
                              <div class="large-12 columns">
                              <a class="close-formula-modal" ng-click="closeFormula()">&#215;</a>
                                  <h5>FORMULA</h5>
                                  <ul>
                                    <li>Sort the data per LGU Type and Income Class</li>
                                    <li>To normalize the data, we divided the ARI/LSI over the IRA. </li>
                                    <li>Get the median of the quotient</li>
                                    <li>Get the absolute median of the quotient</li>
                                    <li>To determine outlier, we use the formula </li>
                                    <li>“IF((ABS(Median-A2)>3*Absolute Median), "Outlier?", "")” </li>
                                    <li>Get the Average excluding the outlier.</li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                  </div>

                </div>
                <div class="large-2 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-center">
                    <div class="indicator-trend trend-{{score.trend}}">
                      <div class="vertical-line"></div>
                      <div class="trend-icon">
                        <i class="fa fa-arrow-up" ng-if="score.trend == 'up'"></i>
                        <i class="fa fa-arrow-down" ng-if="score.trend == 'down'"></i>
                        <i class="fa fa-arrows-h" ng-if="score.trend == 'equal'"></i>
                        <p>TREND</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="large-5 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-side">
                    <div class="indicator-chart">
                      <canvas id="bar" class="chart chart-bar" height="100" chart-data="score.data" chart-labels="score.label" chart-options="optionsLarge">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- Indicator Compare -->
                  <!-- {{selectedLgus}} -->
            <div class="indicator-compare-container">
              <div class="row expanded" data-equalizer>
                <div class="large-3 columns compare-bench" data-equalizer-watch>
                  <div class="lgu-filter">
                    <form action="" ng-init="lguFilter=''">
                    <h4>LGU Type</h4>
                    <div class="lgu-input">
                      <input type="radio" id="lguAll" ng-model="lguFilter" value="" checked>
                      <label for="lguAll" ng-class="{filterAll : lguFilter == ''}"><p class="lguFilter">All</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguCity" ng-model="lguFilter" value="City">
                      <label for="lguCity" ng-class="{filterCity : lguFilter == 'City'}"><p class="lguFilter">City</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguProvince" ng-model="lguFilter" value="Province">
                      <label for="lguProvince" ng-class="{filterProvince : lguFilter == 'Province'}"><p class="lguFilter">Province</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguMunicipality" ng-model="lguFilter" value="Municipality">
                      <label for="lguMunicipality" ng-class="{filterMunicipality : lguFilter == 'Municipality'}"><p class="lguFilter">Municipality</p></label>
                    </div>
                    </form>
                  </div>
                </div>
                <div class="large-3 columns compare-lgus" data-equalizer-watch>
                  <div class="compare-search">
                    <form action="">
                      <input type="text" placeholder="SEARCH" ng-model="lguSearch">
                    </form>
                    <button href="#"><i class="fa fa-search"></i></button>
                  </div>
                  <ul>
                    <li ng-repeat="lgu in lguList | filter:lguSearch | filter:(!!lguFilter || undefined) && {lgu_type: lguFilter}" class="lgu-list-box">
                      <input type="checkbox" name="{{lgu.name}}" id="{{lgu.id}}" ng-model="lgu.checked" ng-checked="lgu.checked" ng-click="lguSelect()" ng-change="checkChanged(lgu)" ng-disabled="checked==limit && !lgu.checked">
                      <label for="{{lgu.id}}" >{{lgu.name}}<span class="lguCheck" ng-class="{lguChecked : lgu.checked}"></span></label>
                    </li>
                  </ul>

                  <!-- SHOW PROMPT -->
                  <div show="showPrompt" modal class="prompt-modal">

                        <!-- <button class="close-prompt" ng-click="closePrompt()">&#215;</button> -->
                        <p>Limit Reached</p>
                        <p>You can only choose 3 from the selection</p>
                        <a ng-click="closePrompt()" class="button expanded">OK</a>

                  </div>
                  <!-- END SHOW PROMPT -->
                  
                </div>
                <div class="large-6 columns compare-chart" data-equalizer-watch>
                  <div class="compare-chart-container">
                    <!-- <canvas id="myChart" height="100"></canvas> -->
                        <canvas id="line" class="chart chart-line" height="100" chart-data="compareLgus.data" chart-labels="compareLgus.labels[0]" chart-options="compareLgus.options" chart-click="onClick" chart-series="compareLgus.series">
                  </div>
                </div>
              </div>
            </div>
          <!-- Compare Button  -->
            <div class="indicator-buttons">
              <div class="row">
                <div class="large-6 columns">
                  <button href="#" id="compare" class="button expanded toggleCompare" ng-click="currentI(54); lguSelect()">COMPARE</button>
                </div>
                <div class="large-6 columns">
                  <button href="#" id="simulate" class="button expanded" ng-click="toggleSimulate(); loadInit(54);">SIMULATE</button>
                </div>
              </div>
            </div>
          </div>

        <!-- Initial Indicator End -->


        <!-- Befor Selecting Indicator -->

          <div class="indicator-wrapper" ng-if="selectedIndicator != null">
          <!-- Indicator Header -->
            <div class="indicator-header">
              <div class="row expanded">
                <div class="large-10 columns">
                  <h4 class="indicator-name {{score.text_length}}" ng-repeat="indicator in indicatorAll | myFilter: [selectedIndicator]"><span><img src="images/icon-revenue.png" alt=""></span> {{indicator.name}}</h4>
                </div>
                <div class="large-2 columns">
                  <div class="indicator-actions">
                    <a href="#"><i class="fa fa-bar-chart"></i></a> <a href=""><i class="fa fa-line-chart"></i></a> <a href="#"><i class="fa fa-print"></i></a>
                  </div>
                </div>
              </div>
            </div>

          <!-- Indicator Content -->
            <div class="indicator-content">
              <div class="row expanded">
                <div class="large-5 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-side">
                    <div class="indicator-value score-{{score.data_type}} {{indicatorCat}}">
                      <h1 ng-if="score.data_type == 'million' || score.data_type == 'percent' || score.data_type == 'number'">{{score.latestData | number}}<span>%</span></h1>
                      <h1 ng-if="score.data_type == 'text'">{{score.latestData}}<span>%</span></h1>
                      {{chartType}}
                      <p><a ng-click="toggleFormula()"><img src="images/formula-icon.png" alt=""> FORMULA</a></p>
                        <!-- FORMULA MODAL -->

                    </div>
                          <div show="showFormula" modal class="formula-modal">
                            <div class="row">
                              <div class="large-12 columns">
                                <a class="close-formula-modal" ng-click="closeFormula()">&#215;</a>
                                  <h5>FORMULA</h5>
                                  <ul>
                                    <li>Sort the data per LGU Type and Income Class</li>
                                    <li>To normalize the data, we divided the ARI/LSI over the IRA. </li>
                                    <li>Get the median of the quotient</li>
                                    <li>Get the absolute median of the quotient</li>
                                    <li>To determine outlier, we use the formula </li>
                                    <li>“IF((ABS(Median-A2)>3*Absolute Median), "Outlier?", "")” </li>
                                    <li>Get the Average excluding the outlier.</li>
                                  </ul>
                              </div>
                            </div>
                          </div>

                  </div>
                </div>
                <div class="large-2 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-center">
                    <div class="indicator-trend trend-{{score.trend}}">
                      <div class="vertical-line"></div>
                      <div class="trend-icon">
                        <i class="fa fa-arrow-up" ng-if="score.trend == 'up'"></i>
                        <i class="fa fa-arrow-down" ng-if="score.trend == 'down'"></i>
                        <i class="fa fa-arrows-h" ng-if="score.trend == 'equal'"></i>
                        <p>TREND</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="large-5 columns indicator-wrap equalizer-watch">
                  <div class="indicator-column-side">
                  <!-- Numbers -->
                    <div class="indicator-chart" ng-if="score.data_type == 'number'">
                      <canvas id="bar" class="chart chart-bar" height="100" chart-data="score.data" chart-labels="score.label" chart-options="optionsLarge">
                      </canvas>
                    </div>
                  <!-- Numbers -->
                    <div class="indicator-chart" ng-if="score.data_type == 'million'">
                      <canvas id="bar" class="chart chart-bar" height="100" chart-data="score.data" chart-labels="score.label" chart-options="optionsLarge">
                      </canvas>
                    </div>
                  <!-- Text -->
                    <div class="indicator-chart" ng-if="score.data_type == 'text'">
                      <canvas id="bar" class="chart chart-bar" height="100" chart-data="score.text_data" chart-labels="score.label" chart-options="textOption">
                      </canvas>
                    </div>
                  <!-- Percent -->
                    <div class="indicator-chart" ng-if="score.data_type == 'percent'">
                      <canvas id="bar" class="chart chart-bar" height="100" chart-data="score.data" chart-labels="score.label" chart-options="percentOption">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- Indicator Compare -->
                  <!-- {{selectedLgus}} -->
            <div class="indicator-compare-container">
              <div class="row expanded" data-equalizer>
                <div class="large-3 columns compare-bench" data-equalizer-watch>
                  <div class="lgu-filter">
                    <form action="" ng-init="lguFilter=''">
                    <h4>LGU Type</h4>
                    <div class="lgu-input">
                      <input type="radio" id="lguAll" ng-model="lguFilter" value="" checked>
                      <label for="lguAll" ng-class="{filterAll : lguFilter == ''}"><p class="lguFilter">All</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguCity" ng-model="lguFilter" value="City">
                      <label for="lguCity" ng-class="{filterCity : lguFilter == 'City'}"><p class="lguFilter">City</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguProvince" ng-model="lguFilter" value="Province">
                      <label for="lguProvince" ng-class="{filterProvince : lguFilter == 'Province'}"><p class="lguFilter">Province</p></label>
                    </div>
                    <div class="lgu-input">
                      <input type="radio" id="lguMunicipality" ng-model="lguFilter" value="Municipality">
                      <label for="lguMunicipality" ng-class="{filterMunicipality : lguFilter == 'Municipality'}"><p class="lguFilter">Municipality</p></label>
                    </div>
                    </form>
                  </div>
                </div>
                <div class="large-3 columns compare-lgus" data-equalizer-watch>
                  <div class="compare-search">
                    <form action="">
                      <input type="text" placeholder="SEARCH" ng-model="lguSearch">
                    </form>
                    <button href="#"><i class="fa fa-search"></i></button>
                  </div>
                  <ul>
                    <li ng-repeat="lgu in lguList | filter:lguSearch | filter:(!!lguFilter || undefined) && {lgu_type: lguFilter}" class="lgu-list-box">
                      <input type="checkbox" name="{{lgu.name}}" id="{{lgu.id}}" ng-model="lgu.checked" ng-checked="lgu.checked" ng-click="lguSelect()" ng-change="checkChanged(lgu)" ng-disabled="checked==limit && !lgu.checked">
                      <label for="{{lgu.id}}" >{{lgu.name}}<span class="lguCheck" ng-class="{lguChecked : lgu.checked}"></span></label>
                    </li>
                  </ul>

                  <!-- SHOW PROMPT -->
                  <div show="showPrompt" modal class="prompt-modal">

                        <!-- <button class="close-prompt" ng-click="closePrompt()">&#215;</button> -->
                        <p>Limit Reached</p>
                        <p>You can only choose 3 from the selection</p>
                        <a ng-click="closePrompt()" class="button expanded">OK</a>

                  </div>
                  <!-- END SHOW PROMPT -->
                </div>
                <div class="large-6 columns compare-chart" data-equalizer-watch>
                <!-- {{score.data_type}} -->
                  <div class="compare-chart-container">
                      <canvas id="line" class="chart chart-line" height="100" chart-data="compareLgus.data" chart-labels="compareLgus.labels[0]" chart-options="compareLgus.options" chart-click="onClick" chart-series="compareLgus.series">
                      </canvas>
                  </div>
                </div>
              </div>
            </div>
          <!-- Compare Button  -->
            <div class="indicator-buttons">
              <div class="row">
                <div class="large-6 columns">
                  <button href="#" id="compare" class="button expanded toggleCompare">COMPARE</button>
                </div>
                <div class="large-6 columns">
                  <button href="#" id="simulate" class="button expanded" ng-click="toggleSimulate(); loadInit(selectedIndicator)">SIMULATE</button>
                </div>
              </div>
            </div>
          </div>

        <!-- Before Selecting End -->

        </div>
      </div>

      </section>


    <!-- SIMULATE MODAL -->
      <div show="showSimulate" modal class="simulate-modal">
        <button class="close-clear" ng-click="clearChart()">&#215;</button>
        <div class="row">
          <div class="large-12 columns">
            <h1>SIMULATION</h1>
            <hr>

            <div class="simulate-data">
              <form ng-submit="pushData(simulateData.$valid,simulate)">
                <div class="row">
                  <div class="large-4 columns">
                    <input type="number" placeholder="Data 1" ng-model="simulate['data1']">
                  </div>
                  <div class="large-4 columns">
                    <input type="number" placeholder="Data 2" ng-model="simulate['data2']">
                  </div>
                  <div class="large-4 columns">
                    <input type="number" placeholder="Data 3" ng-model="simulate['data3']">
                  </div>
                </div>
                <button type="submit" class="button expanded">SUBMIT</button>
              </form>
            </div>
            
            <h1>RESULT: {{simulateDetails.indicator_name}}</h1>
            <hr>      
            <div class="simulate-chart">
              <div class="row">
                <div class="large-8 large-centered columns">
                  <canvas id="line" class="chart chart-line" height="100" chart-data="simChart.data" chart-labels="simChart.labels" chart-options="simulateOption.options" chart-click="onClick" chart-series="simChart.series">
                  </canvas>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

<div footer></div footer>