<div class="search-section">
	<div class="show-hide-search">
	  <button "#" id="show-hide-2"><i class="fa fa-angle-left"></i><i class="fa fa-angle-right animated infinite"></i></button>
	</div>
	<div search-lgu></div>
	    <ul class="municipalities">
	      <li><a class="lgu-selected" href="/browse-municipality/naga-city">NAGA CITY</a></li>
	      <li><a href="/browse-municipality/catanduanes">CATANDUANES</a></li>
	      <li><a href="/browse-municipality/tabaco-city">TABACO CITY</a></li>
	      <li><a href="/browse-municipality/legazpi-city">LEGAZPI CITY</a></li>
	      <li><a href="/browse-municipality/sorsogon-city">SORSOGON CITY</a></li>
	    </ul>
	    <div class="quick-facts">
	      <div class="lgu-name">
	        <h2><i class="fa fa-info-circle"></i> NAGA CITY</h2>
	      </div>
	      <div class="lgu-text">
	        <p>Naga, officially called City of Naga, or simply Naga City, is an independent component city in the Bicol Region of the Philippines.</p>
	        <ul>
	          <li><span>Province:</span> Camarines Sur</li>
	          <li><span>Area:</span> 84.48 km²</li>
	          <li><span>Dialling Code:</span> 54</li>
	        </ul>
	      </div>
	    </div>
	    <div class="print-export-share">
	      <div class="row expanded">
	        <div class="large-4 columns">
	          <a href="#"><i class="fa fa-print"></i> PRINT</a>
	        </div>
	        <div class="large-4 columns">
	          <a href="#"><i class="fa fa-file-excel-o"></i> EXPORT ALL</a>
	        </div>
	        <div class="large-4 columns">
	          <a href="#" class="last-share"><i class="fa fa-share"></i> SHARE</a>
	        </div>
	      </div>
	    </div>
</div>