    <header class="header" header></header>
    <div class="wrapper">
      <article class="container">

				<div class="page">
					<h1 id="title">Page 2 Sample</h1>

          <ul>
            <li ng-repeat="data in datas">{{data}}</li>
          </ul>

          <ul>
            <li ng-repeat="datakey in dataKeys">{{datakey}}</li>
          </ul>

          <table width="100px" >
            <thead>
              <tr>
                <th ng-repeat="datakey in dataKeys">{{datakey}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td  ng-repeat="data in datas">{{data}}</td>
              </tr>
            </tbody>
          </table>

				</div>

      </article>
      <aside main-navigation></aside>
      <footer class="footer" footer></footer>
    </div>
